/*-------------------------------------------------------*/
/*null css*/
/*-------------------------------------------------------*/
*{padding: 0; margin: 0; border: 0;}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, :active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input buton, textarea{font-family:inherit ;}
input ::-ms-clear{display: none;}
button{cursor:pointer;}
button ::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*-------------------------------------------------------*/
p {
    font-size: 20px;
    line-height: 24px;
    text-indent: 3ch
}
h1 {
    font-size: 50px;
    font-weight: 700;
}
h2 {
    font-size: 40px;
    font-weight: 600;
}
h3 {
    font-size: 35px;
    font-weight: 500;
}
h4 {
    font-size: 25px;
    font-weight: 400;
}
a {
    font-size: 14px;
    color: white;
}
.page-ol {
    list-style-type: symbols('1');
}
.page__ol {
    padding-left: 20px;
}
#input {
    border: 1px solid;
    font-size: 20px;
}
.button-ol {
    height: 50px;
    width: 50px;
    border: 1px solid;
    margin: 20px;
}
.ol_color {
    background-color: #E7E7E7;
    font-size: 20px;
}

.wrapper  {
    overflow: hidden;
    background-image: url("./img/font.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
body {

}
/*-------------------------------------------------------*/

.header {
    width: 100%;
    height: 160px;
    background-color: #767676;
    padding: 10px;
    position: fixed;
    z-index: 10;
    color: white;
}
.header__row__top {
    max-width: 100%;
    margin: 35px 60px 0 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.header__menu__list {
    display: flex;
    padding: 20px 0 0 60px;
}
.header__menu__list a{
    margin-right: 40px;
}
/*-------------------------------------------------------*/
.page {
    padding: 0 50px;
    margin: 220px 200px 0 200px;
    background-color: white;
}

.img-1 {
    max-width: 50%;
}
.img-2 {
    max-width: 50%;
}
.table-1 {
    margin: 40px 0;
    border: 1px solid;
}
.table_1 {
    display: flex;
    justify-content: center;
}
.table-2 {
    margin: 40px 0;
    border: 4px solid white;
    background-color: aqua;
}
/*-------------------------------------------------------*/
.gallery__slider {
    position: relative;
    padding: 0 60px;
    margin: 0 auto;
}

.gallery__slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}
.gallery__slider .slick-arrow.slick-prev {
    left: 0;
    background: url("./img/arrow_prev.png") 0 0 / 100% no-repeat;
}
.gallery__slider .slick-arrow.slick-next {
    right: 0;
    background: url("./img/arrow_next.png") 0 0 / 100% no-repeat;
}
.gallery__slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}





.gallery__slider__item img {
    display: inline-block;
    line-height: 100%;
    padding: 10px;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}